/*----------------------- Preloader -----------------------*/

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FF6600;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

/* Website */

nav.navbar {
    background-color: #FF6600;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.tab-title h3 {
    padding-top: 1rem;
}

.title-equip {
    padding: 1rem 1rem 3rem 1rem;
}

.title-equip h3 {
    padding-bottom: 1rem;
}
.title-equip h4 {
    padding: 1rem 0;
}

.navbar-brand {
    font-weight: 600;
}

.container-top {
    margin-top: 90px;
}

.image-equip.card {
    margin: 1rem;
}

.image-equip-single.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tab-title {
    padding-top: 10px;
}

.tab-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab-content {
    padding-top: 10px;
    padding-bottom: 60px;
}

.card-padding {
    margin: 0;
}

.description {
    padding: 1rem 0;
}

.card-header button.btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.cards {
    margin-bottom: 60px;
}

.col-center {
    margin: 0 auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f5f5f5;
}

/* Modal Styles */

/* Style the Image Used to Trigger the Modal */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 60px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}